<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="APP_NAME" value="mailuo-service"/>
    <contextName>${APP_NAME}</contextName>

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
        <!--<fileNamePattern>/bailian/mailuo/logs/${APP_NAME}/%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
        <!--<maxFileSize>1GB</maxFileSize>-->
        <!--&lt;!&ndash;日志文件保留天数&ndash;&gt;-->
        <!--<maxHistory>60</maxHistory>-->
        <!--&lt;!&ndash;日志文件上限大小&ndash;&gt;-->
        <!--<totalSizeCap>20GB</totalSizeCap>-->
        <!--</rollingPolicy>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <!--<if condition='property("console.log").equals("true")'>-->
        <!--<then>-->
        <!--<appender-ref ref="console"/>-->
        <!--</then>-->
        <!--</if>-->
        <!--<appender-ref ref="file"/>-->
        <appender-ref ref="console"></appender-ref>
    </root>
</configuration>